* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.game-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    padding: 20px;
}

.game-container-wrapper {
    width: 100%;
    max-width: 1200px; /* Cambiar según sea necesario */
}

.game-board {
    display: flex;
    flex-wrap: wrap;
    gap: 2%; /* Espaciado entre los cuadrados */
    justify-content: center;
    align-items: center;
    width: 100%; /* Cambiado para que se ajuste al contenedor */
    max-width: 100%; /* Ajuste máximo */
    height: auto; /* Altura automática para adaptarse al contenido */
}

.board-square {
    width: calc((100% / 3) - 2%);
    max-width: 170px; /* Tamaño máximo del cuadrado */
    aspect-ratio: 1 / 1; /* Mantener la relación de aspecto */
    position: relative;
    border: 5px solid white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Francois One", sans-serif;
    color: white;
    font-size: 2rem;
}

/* Para cambiar el tamaño del tablero según el dispositivo */
@media (max-width: 768px) {
    .game-board {
        max-width: 90%;
    }
    
    .board-square {
        width: calc((100% / 2) - 2%);
        max-width: 150px;
    }
}
