* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --verde: #a9e159;
  --azul: #0288d1;
}

.game-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: cadetblue;
}

.game-container-wrapper {
  /* width: 75%; */
  margin-right: 10vw;
}
/* cuadrados del tablero */
.game-board {
  display: grid;
  flex-flow: wrap;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 1165.83px;
  height: 890px;
}

.board-square {
  width: 170px;
  height: 170px;
  position: relative;
  border: 5px solid white;
  border-radius: 15px;
}

.board-square::after {
  font-family: "Francois One", sans-serif;
  color: white;
  content: attr(data-number);
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
}

.player-test {
}

/* Info rules */

.popup-info-wrapper {
  position: absolute;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  z-index: 11;
  border-radius: 10px;
  border: 12px solid var(--verde);
  left: 10%;
  top: 5%;
}
/* Contenido del boton del informacion (¡) */
.popup-info-body {
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  color: var(--azul);
  font-family: "Francois One", sans-serif;
}
.popup-info-wrapper h3 {
  font-size: 2rem;
}
.popup-info-wrapper p {
  font-size: 1.5rem;
}

.hide-btn {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.info-videogame span {
  font-size: 3rem;
}

.info-videogame {
  position: fixed;
  left: 2.5rem;
  bottom: 25px;
  height: 70px;
  width: 70px;
  color: white;
  border: none;
  outline: none;
  background: var(--verde);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.info-videogame.videogame-btn-hide::after {
  content: "";
  position: absolute;
  top: -4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='m13 30l12-12l12 12'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.btn-close {
  position: fixed;
  right: 1.5rem;
  top: 20px;
  height: 40px;
  width: 40px;
  color: var(--azul);
  border: none;
  outline: none;
  background: var(--verde);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}
.btn-close span {
  font-size: 3rem;
}

/* Player turn container */

.turn-buttons-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
  align-items: center;
}

.turn-buttons-wrapper button {
  padding: 20px;
  border-radius: 10px;
  width: 60%;
  background-color: var(--azul);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  color: white;
  border: white;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}

.player-turn-container {
  position: fixed;
  top: 20%;
  left: 10%;
  border: 15px solid var(--verde);
  background: white;
  border-radius: 10px;
}

.players-container {
  display: grid;
  justify-content: center;
  height: 200px;
  grid-template-columns: 20% 20% 20%;
  align-items: center;
  margin-top: -200px;
  margin-bottom: 40px;
}

.player-turn-container-wrapper {
  width: 370px;
  height: 575px;
  background: white;
}

.mensaje-Turno {
  margin-top: 20px !important;
}

/* Dice container  - DADO*/
.dice {
  height: 200px;
  width: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px) rotateY(-45deg) rotateX(-45deg);
  transition: transform 1s;
}
.panel {
  border-radius: 10px;
  width: 200px;
  height: 200px;
  perspective: 400px;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
}
.dot {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 4px;
  background-color: white;
}
.side {
  border: solid 6px white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  background-color: var(--verde);
  width: 200px;
  height: 200px;
  border-radius: 10px;
  line-height: 200px;
}
.one {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(-90deg) translateZ(100px);
  z-index: 1;
}
.two {
  display: flex;
  justify-content: space-between;
  transform: rotateY(180deg) translateZ(100px);
  z-index: 2;
}
.two .dot:nth-of-type(2) {
  align-self: flex-end;
}
.three {
  display: flex;
  justify-content: space-between;
  transform: rotateY(90deg) translateZ(100px);
  z-index: 3;
}

.three .dot:nth-of-type(2) {
  align-self: center;
}

.three .dot:nth-of-type(3) {
  align-self: flex-end;
}
.four {
  z-index: 4;
  transform: rotateY(0deg) translateZ(100px);
}
.four,
.six {
  display: flex;
  justify-content: space-between;
}

.four .kolona,
.six .kolona {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.five {
  display: flex;
  justify-content: space-between;
  transform: rotateY(-90deg) translateZ(100px);
  z-index: 5;
}

.five .kolona {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.five .kolona:nth-of-type(2) {
  justify-content: center;
}
.six {
  transform: rotateX(90deg) translateZ(100px);
  z-index: 6;
}

/*Customization panel*/
.custom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(20% + 250px);
}
.custom > * {
  margin: 10px;
}
.custom > button {
  font-size: 20px;
  font-family: "Verdana";
  width: 200px;
  height: 50px;
  color: white;
  background-color: var(--azul);
  border: none;
  border-radius: 10px;
}
.picker {
  border: none;
}

/* JUGADORES : Ser arrastrado por el Mouse */
.container {
  position: relative;
  /*width: 200px; */
  /*height: 200px; */
}

.circle {
  width: 70px;
  height: 70px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  position: absolute;
  cursor: grab;
  border: 4px solid white;
  z-index: 9999; /*EJE Z --> para que esté por encima de otros elementos */
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: #a218e3;
}

.brown {
  background-color: #544931;
}

.P1 {
  color: azure;
  font-weight: bold;
  font-size: larger;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.P2 {
  color: azure;
  font-weight: bold;
  font-size: larger;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.P3 {
  color: rgb(5, 43, 43);
  font-weight: bold;
  font-size: larger;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.P4 {
  color: rgb(5, 43, 43);
  font-weight: bold;
  font-size: larger;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.P5 {
  color: azure;
  font-weight: bold;
  font-size: larger;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.P6 {
  color: azure;
  font-weight: bold;
  font-size: larger;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* TEXTO: TURNO DE LOS JUGADORES */
.mensaje-Turno {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  font-weight: 600;
  text-align: center;
  margin: auto;
}

/* BOTON DE DADO */
#rollDiceBtn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-align: center;
  color: black;
  border: white;
  background-color: var(--verde);

  /* margin-top: 10px;
  margin-left: 15px;
  position: absolute; */
}
#rollDiceBtn:hover {
  background-color: var(--verde);
}

/* Cuadro/Boton de pregunta Inicial */
.container-Preguntasare {
  position: fixed;
  top: 10%;
  left: 10%;
}
/* Estilo y Texto de Cuadro para pregunta inicial */
.trigger-btn {
  padding: 10px 20px;
  background-color: var(--verde);
  color: black;
  border: 10px solid white;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-top: 600px;
  margin-right: 132.5px;
}

.question-modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 15px solid var(--verde);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999; /*EJE Z --> para que esté por encima de otros elementos */
}

.answer-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 25px;
}

/* Texto de cuadro con Pregunta */
.question-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}
/* Estilo del cuadro que contiene la Pregunta */
.response-modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 15px solid var(--verde);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999; /*EJE Z --> para que esté por encima de otros elementos */
}

/* Texto de cuadro que muestra la Pregunta */
.response-content {
  text-align: center;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}

/* Estilo de Botones de "Correcto" e "Incorrecto"*/
.answer-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
/* Boton de Cerrar  */
.close-btn {
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Notificaciones de Casillas: Serpientes y Escaleras */
.notification-container {
  z-index: 9999; /*EJE Z --> para que esté por encima de otros elementos */
}

.notification {
  position: fixed;
  top: 363px;
  right: 545px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border: 15px solid var(--verde);
  border-radius: 5px;
  padding: 20px;
  width: 500px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  text-align: center;
  z-index: 1000; /* EJE Z --> para que esté por encima de otros elementos*/
}

.notification-content {
  margin-bottom: 10px;
}

.close-button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 25px;
}

.close-button:hover {
  background-color: #8d2020;
}

/* questions */
.question-container {
  width: 70%;
  height: 70%;
  background-color: white;
  border: 25px solid var(--azul);
  border-radius: 15px;
  z-index: 99;
  position: fixed;
  right: 50%;
  left: 20rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .8);

  padding: 100px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  gap: 200px;
}

#respuestas {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.question-container h2 {
  font-size: 2.5rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#respuestas button {
  border: 4px solid white;
  padding: 30px;
  border-radius: 15px;
  font-size: 1.4rem;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
}

#respuestas button:nth-child(1) {
  background-color: yellow;
}

#respuestas button:nth-child(2) {
  background-color: blue;
  color: white;
}

#respuestas button:nth-child(3) {
  background-color: red;
  color: white;
}

.hide {
  display: none !important;
  visibility: hidden;
  opacity: 0;
}
