* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
 --verde: #a9e159;
 --azul: #0288d1;
}

.game-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: cadetblue;
}

.game-container-wrapper {
    /* width: 75%; */
    margin-right: 10vw;
}

.game-board {
    display: grid;
    flex-flow: wrap;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 1165.830px;
    height: 890px;
}

.board-square {
    width: 170px;
    height: 170px;
    position: relative;
    border: 5px solid white;
    border-radius: 15px;
}

.board-square::after {
    font-family: "Francois One", sans-serif;
    color: white;
    content: attr(data-number);
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
}

.player-test {

}


/* Info rules */

.popup-info-wrapper {
    position: absolute;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    z-index: 11;
    border-radius: 10px;
    border: 12px solid var(--verde);
    left: 10%;
    top: 5%;
}
.popup-info-body {
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    color: var(--azul);
    font-family: "Francois One", sans-serif; 
}
.popup-info-wrapper h3 {
    font-size: 2rem;
}
.popup-info-wrapper p {
    font-size: 1.5rem;
}

.hide-btn {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.info-videogame span {
    font-size: 3rem;
}

.info-videogame {
    position: fixed;
    left: 2.5rem;
    bottom: 25px;
    height: 70px;
    width: 70px;
    color: white;
    border: none;
    outline: none;
    background: var(--verde);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.info-videogame.videogame-btn-hide::after {
    content: '';
    position: absolute;
    top: -4px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='m13 30l12-12l12 12'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.btn-close {
    position: fixed;
    right: 1.5rem;
    top: 20px;
    height: 40px;
    width: 40px;
    color: var(--azul);
    border: none;
    outline: none;
    background: var(--verde);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}
.btn-close span {
    font-size: 3rem;
}


/* Player turn container */

.player-turn-container {
    position: fixed;
    top: 35%;
    left: 10%;
    border: 15px solid var(--verde);
    border-radius: 10px;
}

.player-turn-container-wrapper {
    width: 300px;
    height: 400px;
    background: white;
}


/* Dice container */
.dice {
    height: 200px;
    width: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px) rotateY(-45deg) rotateX(-45deg);
    transition: transform 1s;
  }
  .panel {
    border-radius: 10px;
    width: 200px;
    height: 200px;
    perspective: 400px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
  }
  .dot {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 4px;
    background-color: white;
  }
  .side {
    border: solid 4px white;
    position: absolute;
    background-color: var(--verde);
    width: 200px;
    height: 200px;
    border-radius: 10px;
    line-height: 200px;
  }
  .one {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(-90deg) translateZ(100px);
    z-index: 1;
  }
  .two {
    display: flex;
    justify-content: space-between;
    transform: rotateY(180deg) translateZ(100px);
    z-index: 2;
  }
  .two .dot:nth-of-type(2) {
    align-self: flex-end;
  }
  .three {
    display: flex;
    justify-content: space-between;
    transform: rotateY(90deg) translateZ(100px);
    z-index: 3;
  }
  
  .three .dot:nth-of-type(2) {
    align-self: center;
  }
  
  .three .dot:nth-of-type(3) {
    align-self: flex-end;
  }
  .four {
    z-index: 4;
    transform: rotateY(0deg) translateZ(100px);
  }
  .four,
  .six {
    display: flex;
    justify-content: space-between;
  }
  
  .four .kolona,
  .six .kolona {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .five {
    display: flex;
    justify-content: space-between;
    transform: rotateY(-90deg) translateZ(100px);
    z-index: 5;
  }
  
  .five .kolona {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .five .kolona:nth-of-type(2) {
    justify-content: center;
  }
  .six {
    transform: rotateX(90deg) translateZ(100px);
    z-index: 6;
  }
  
  /*Customization panel*/
  .custom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(20% + 250px);
  }
  .custom > * {
    margin: 10px;
  }
  .custom > button {
    font-size: 20px;
    font-family: "Verdana";
    width: 200px;
    height: 50px;
    color: white;
    background-color: var(--azul);
    border: none;
    border-radius: 10px;
  }
  .picker {
    border: none;
  }